In [3]:
list1 = ['apple','orange','banana','kiwi']
print(list1)

['apple', 'orange', 'banana', 'kiwi']

In [4]:
list2=['apple',[7,4,3],'orange','banana']
print(list2)

['apple', [7, 4, 3], 'orange', 'banana']

In [5]:
print(list2[1][2])

3

In [10]:
list1.append('guava')

In [15]:
print(list1)

['apple', 'orange', 'banana', 'kiwi', 'guava', 'watermelon', 'muskmelon', 'guava', 'watermelon', 'muskmelon']

In [17]:
list1.extend(['watermelon','muskmelon'])
print(list1)

['apple', 'orange', 'banana', 'kiwi', 'guava', 'watermelon', 'muskmelon', 'guava', 'watermelon', 'muskmelon', 'watermelon', 'muskmelon', 'watermelon', 'muskmelon']

In [13]:
del (list1[5])

In [14]:
print(list1)

['apple', 'orange', 'banana', 'kiwi', 'guava', 'watermelon', 'muskmelon', 'guava', 'watermelon', 'muskmelon']

In [18]:
print(list1.pop(1))
print(list1)

orange
['apple', 'banana', 'kiwi', 'guava', 'watermelon', 'muskmelon', 'guava', 'watermelon', 'muskmelon', 'watermelon', 'muskmelon', 'watermelon', 'muskmelon']

In [19]:
print(list1.count('watermelon'))

4

In [20]:
tup1 = ('apple','orange','banana','kiwi')
print(tup1)

('apple', 'orange', 'banana', 'kiwi')

In [22]:
tup2 = ('apple',)
print(type(tup2))

<class 'tuple'>

In [23]:
print(tup1[1:3])

('orange', 'banana')

In [24]:
print((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [25]:
print(tup1.count('guava'))

0

In [26]:
y=list(tup1)
y.append('guava')
tup1=tuple(y)
print(tup1)

('apple', 'orange', 'banana', 'kiwi', 'guava')

In [27]:
a=[1,2,3,4]
a.insert(5,7)
print(a)

[1, 2, 3, 4, 7]

In [28]:
a=[12,13,14,15]
print(a)
a.pop(2)
print(a)

[12, 13, 14, 15]
[12, 13, 15]

In [29]:
a=[1,2,3,4]
b=[9,8,7]
a.extend(b)
print(a)

[1, 2, 3, 4, 9, 8, 7]

In [30]:
rollno=[1,2,3]
names=['sikindar','prasanna','shivkumar']
marks=[67,56,76]

studentdetails=zip(rollno,names,marks)
print(studentdetails)

for record in studentdetails:
    print(record)

<zip object at 0x00000164070F3800>
(1, 'sikindar', 67)
(2, 'prasanna', 56)
(3, 'shivkumar', 76)

In [32]:
myset=set()
print(myset)
set()
myset.add
myset.add(2)
print(myset)
myset.add(3)
print(myset)
myset.update((4,5,9))
print(myset)
myset={3,5,9,12,'india','bharat'}
myset.discard(12)
print(myset)
myset={3,5,9,12,'india','bharat'}
myset.remove(12)
print(myset)

set()
{2}
{2, 3}
{2, 3, 4, 5, 9}
{3, 'india', 5, 9, 'bharat'}
{3, 'india', 5, 9, 'bharat'}

In [33]:
seta={1,2,3,4}
setb={3,4,5,6}
print(seta|setb)
print(seta&setb)
print(seta-setb)
print(seta^setb)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

In [34]:
studentlist={'danish','revanth','bunny','lohit','sai','ram'}
placed={'sai','ram'}
notplaced=set(studentlist)-set(placed)
print(notplaced)

{'lohit', 'revanth', 'bunny', 'danish'}

In [35]:
student={"name":"abc","roll no":1}
print(student)
marks={"maths":34,"science":22,"english":56}
print(marks)
xyz={"name":"tina",1:[2,4,1,7]}
print(xyz)
Dict=dict({1:'apple',2:'android',3:'tablet'})
print(Dict)
Dict=dict([(1,'audi'),(2,'bmw')])
print(Dict)
DT={1:'jain',2:'university'}
print(DT)

{'name': 'abc', 'roll no': 1}
{'maths': 34, 'science': 22, 'english': 56}
{'name': 'tina', 1: [2, 4, 1, 7]}
{1: 'apple', 2: 'android', 3: 'tablet'}
{1: 'audi', 2: 'bmw'}
{1: 'jain', 2: 'university'}

In [36]:
d1={1:"beetle",2:"car",3:"charger",4:"challenge"}
d2=d1.copy()
print(d2)
d2.clear()
print(d2)
print(d1.get(1))
print(d1.items())
print(d1.keys())
print(d1.values())
print(d1.pop(2))
d1.update({3:"challenge"})
print(d1)

{1: 'beetle', 2: 'car', 3: 'charger', 4: 'challenge'}
{}
beetle
dict_items([(1, 'beetle'), (2, 'car'), (3, 'charger'), (4, 'challenge')])
dict_keys([1, 2, 3, 4])
dict_values(['beetle', 'car', 'charger', 'challenge'])
car
{1: 'beetle', 3: 'challenge', 4: 'challenge'}